<!DOCTYPE html>
<html lang="es">

<%- include('templates/head', { titulo: '¿Que función cumplen las Bases de Datos?' }) %>

<body>

    <%- include('templates/header') %>

    <main class=" container pt-4 pb-4">

        <%- include('templates/breadcrumb', { publicacion: '¿Que función cumplen las Bases de Datos?' }) %>

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">

                    <div class="col-12">
                        <div class="text-center">
                            <h2>¿Que función cumplen las Bases de Datos?</h2>
                            <h5> Publicado por: Brayan Durán Velásquez | <img style="width: 36px;"
                                    src="/img/perfiles/brayan-duran-velasquez.jpg" class="rounded-circle"> </h5>
                            <h6> El 07 de noviembre del 2020</h6>
                        </div>
                    </div> <!-- Titulo General -->

                    <div class="col-12 pt-4">

                        <section class="col-12 pb-4">
                            <img src="/img/base-de-datos/1.jpg" class="img-fluid">
                        </section>

                        <section class="pb-3">
                            <p><b>Base de datos</b>, tambien conocido como banco de datos, es un proceso
                            sistemático donde se almacenan los datos de manera ordenada y precisa.
                            La informacion es almacenada y <b>permite a los usuarios</b> acceder a ella.
                            Hoy en dia, las bases de datos existen en diferentes formas y contextos.</p>

                            <br>

                            <p>Cada vez más, a medida que la tecnologia avanza, pues las Bases de Datos tambien
                            lo hacen y con propositos de mejorar <b>ya sea la cantidad de informacion que pueden almacenar,
                            hasta la rapidaz</b> con la que los usuarios puedes acceder a la misma.</p>
                        </section>

                        <section class="col-12 pb-4">
                            <img src="/img/base-de-datos/2.jpg" class="img-fluid">
                        </section>

                        <section class="pb-3">
                            <h4 class="pb-1"><b>Tipos de bases de datos</b></h4>

                            <p>Cada base de dato, existe para solventar una necesidad diferente: </p>

                            <ul>
                                <li>
                                    <p><b>Según su variabilidad</b>. Conforme a los procesos de recuperación y
                                    preservación de los datos, podemos hablar de:</p>

                                    <ul>
                                        <li>
                                            <p><b>Bases de datos estáticas.</b> Típicas de la inteligencia empresarial y
                                            otras
                                            áreas de análisis histórico, son bases de datos de sólo lectura, de las
                                            cuales se puede extraer información, pero no modificar la ya existente.</p>
                                        </li>
                                        <li>
                                            <p><b>Bases de datos dinámicas.</b> Aparte de las operaciones básicas de
                                            consulta, estas bases de datos manejan procesos de actualización,
                                            reorganización, añadidura y borrado de información.</p>
                                        </li>
                                    </ul>
                                </li>

                                <li><p><b>Según su contenido</b>. De acuerdo a la naturaleza de la información
                                    contenida, pueden ser:</p>

                                    <ul>
                                        <li>
                                            <p><b>Bibliográficas</b>. Contienen diverso material de lectura (libros,
                                            revistas,
                                            etc.) ordenado a partir de información clave como son los datos del
                                            autor, del editor, del año de aparición, del área temática o del título del
                                            libro, entre otras muchas posibilidades.</p>
                                        </li>
                                        <li>
                                            <p><b>De texto completo</b>. Se manejan con textos históricos o documentales,
                                            cuya preservación debe ser a todo nivel y se consideran fuentes
                                            primarias.</p>
                                        </li>
                                        <li>
                                            <p><b>Directorios</b>. Listados enormes de datos personalizados o de
                                            direcciones de correo electrónico, números telefónicos, etc. Las
                                            empresas de servicios manejan enormes directorios clientelares, por
                                            ejemplo.</p>
                                        </li>
                                        <li>
                                            <p><b>Especializadas</b>. Bases de datos de información hiperespecializada o
                                            técnica, pensadas a partir de las necesidades puntuales de un público
                                            determinado que consume dicha información.</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </section>

                        <section class="pb-3">
                            Existen diferentes modelos y paradigmas para cada una de ellas. <b>Contien ventajas,
                            desventajas, dificultades, jerarquias, etc.</b> Esto se conoce como
                            modelos de base de datos y permite el diseño y la implementación de
                            algoritmos y otros mecanismos lógicos de gestión, según sea el caso
                            específico.
                        </section>
                    </div> <!-- Informacion -->

                    <div class="col-12 p-4">
                        <hr>
                    </div> <!-- Separador -->

                    <div class="col-12 d-flex justify-content-center align-items-center flex-column">
                        <div class="d-flex pb-2">
                            <h5>¿Te gustó esta publicación? puedes compartirla vía:</h5>
                        </div>

                        <div>
                            <img src="/img/redes-sociales/facebook.png" style="width: 45px;">
                            <img src="/img/redes-sociales/twitter.png" style="width: 45px;">
                            <img src="/img/redes-sociales/linkedin.png" style="width: 45px;">
                            <img src="/img/redes-sociales/google-plus.png" style="width: 45px;">
                        </div>
                    </div> <!-- Redes Socilaes -->

                    <div class="col-12 p-4">
                        <hr>
                    </div> <!-- Separador -->

                </div>
            </div> <!-- Informacion, redes sociales -->


            <aside class="col-12 col-md-4">
                <div class="row">

                    <div class="col-12 pb-4">
                        <h3>Buscar:</h3>
                        <hr>
                        <input class="form-control" type="text" placeholder="Buscar un articulo, publicacion, etc">
                        <button class="btn btn-dark float-right">Buscar</button>
                    </div> <!-- Buscador -->

                    <br>

                    <div class="col-12">
                        <h3>Más Articulos:</h3>
                        <hr>

                        <div class="card">
                            <img class="card-img-top" src="/img/javascript/1.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Javascript</h4>
                                <p class="card-text">El lenguaje de programación de los navegadores.</p>
                                <a href="#" class="btn btn-primary">Ver publicación</a>
                            </div>
                        </div>

                        <br>

                        <div class="card">
                            <img class="card-img-top" src="/img/virus/1.jpg">
                            <div class="card-body">
                                <h4 class="card-title">¿Que es un Virus Informático?</h4>
                                <p class="card-text">Informate sobre que son los virus y cuales existen.</p>
                                <a href="#" class="btn btn-primary">Ver publicación</a>
                            </div>
                        </div>

                        <br>

                        <div class="card">
                            <img class="card-img-top" src="/img/web/1.jpg">
                            <div class="card-body">
                                <h4 class="card-title">La Web</h4>
                                <p class="card-text">¿Tienes idea de que es la web? ¡lee esta públicación!.</p>
                                <a href="#" class="btn btn-primary">Ver publicación</a>
                            </div>
                        </div>

                        <br>

                    </div> <!-- Mas articulos -->

                </div>
            </aside>
        </div> <!-- Tanto el contenido principal y el aside -->

        <%- include('templates/form') %>

    </main>

    <%- include('templates/footer') %>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>